{% extends "base.html" %}

{% block title %}
    管理後台
{% endblock %}


{% block content %}
<div class="container">
    <form action="{% if userform.initial.id %}{% url 'user_edit' userform.initial.id %}{% else %}{% url 'user_add' %}{% endif %}" method="post">
    {% csrf_token %}
    <table class="table">
        <tr>
            <td>姓名</td>
            <td>{{ userform.name }}</td>
        </tr>
        <tr>
            <td>帳號</td>
            <td>{{ userform.username }}</td>
        </tr>
        <tr>
            <td>密碼</td>
            <td>{{ userform.password }}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div>{{ message }}</div>
                <input type="submit" name="send" value="送出"/>
            </td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}